@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .clip-triangle-down {
    clip-path: polygon(50% 20%, 0 0, 100% 0);
  }

  .clip-triangle-up {
    clip-path: polygon(50% 0, 0 20%, 100% 20%);
  }

  .clip-diagonal-top-left {
    clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
  }

  .clip-diagonal-top-right {
    clip-path: polygon(0 80%, 0% 100%, 100% 100%);
  }

  .clip-diagonal-bottom-left {
    clip-path: polygon(0 20%, 0 0, 100% 0);
  }

  @media (max-width: 640px) {
    .sm-clip-diagonal-bottom-left {
      clip-path: polygon(0 40%, 0 0, 100% 0);
    }
  }
  
  .clip-diagonal-bottom-right {
    clip-path: polygon(100% 20%, 0 0, 100% 0);
  }

  @media (max-width: 640px) {
    .sm-clip-diagonal-bottom-right {
      clip-path: polygon(100% 0%, 0 0, 100% 0);
    }
  }
}

body {
  font-family: var(--font-roboto), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-arvo), serif;
}

input[type="email"], input[type="password"], input[type="text"] {
  @apply block w-full my-4 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100;
}

button {
  @apply block w-full text-gray-700 my-4 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}

button[type="submit"], .submit {
  @apply border-0 bg-primary-500 text-white;
}

button[type="submit"]:disabled, .submit:disabled {
  @apply cursor-not-allowed bg-primary-200;
}

input[type="email"]:disabled, input[type="password"]:disabled, input[type="text"]:disabled {
  @apply bg-gray-300 text-gray-400;
}

button#userMenu {
    border: 0;
    padding: 0;
}

.instagram.active svg * {
  fill: url(#rg);
}

.instagram:hover svg * {
  fill: url(#rg);
}

@keyframes zoom {
  0% { transform: scale(1); }
  20% { transform: scale(1.2);}
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.profile-menu button[aria-expanded="true"] .profile-menu-chevron {
  transform: rotate(0deg);
  transition: all .4s ease;
}

.profile-menu button[aria-expanded="false"] .profile-menu-chevron {
  transform: rotate(180deg);
  transition: all .4s ease;
}

.greyscale {
  filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}

.greyscale:hover {
 filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.animated .zoom {
  animation: zoom .4s ease;
}

@keyframes jiggle {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(20deg);}
  80% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

.animated .jiggle {
  animation: jiggle .4s ease;
}

@keyframes point-right {
  0% { transform: translateX(0px); }
  20% { transform: translateX(10px);}
  80% { transform: translateX(0px); }
  100% { transform: translateX(0px); }
}

.animated .point-right {
  animation: point-right .4s ease;
}

@keyframes point-down {
  0% { transform: translateY(0px); }
  20% { transform: translateY(10px);}
  80% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}

.animated .point-down {
  animation: point-down .4s ease;
}

@keyframes fade-in-down {
  0% { transform: translateY(-10px); opacity:0; }
  100% { transform: translateY(0px); opacity:1; }
}

.fade-in-down {
  animation: fade-in-down .4s ease forwards;
}

@keyframes fade-out-up {
  0% { transform: translateY(0px); opacity:1; }
  100% { transform: translateY(-10px); opacity:0; }
}

.fade-out-up {
  animation: fade-out-up .4s ease forwards;
}

@keyframes race-right {
  0% { transform: translateX(0px); }
  20% { transform: translateX(-3px);}
  80% {
    transform: translateX(20px);
    opacity:0;
  }
  99% {
    opacity:1;
  }
  100% { transform: translateX(0px); }
}

.animated .race-right {
  animation: race-right .4s ease;
}
